<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @cloudy.image %>);">
  <% if user_signed_in? && current_user.id == @cloudy.user_id %>
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_cloudy_path(@cloudy.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', cloudy_path(@cloudy.id), method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
    <p><%= @cloudy.text %></p>
    <span class="name">
      <a href="/users/<%= @cloudy.user.id %>">
        <span>投稿者</span><%= @cloudy.user.name %>
      </a>
    </span>
  </div>
</div>